<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="visKundeService">
  <a class="navbar-brand" href="#">Contakt service</a>


  <div class=" mt-5 form-inline my-2 my-lg-0">
    <input type="hidden">
    <input class="form-control mr-sm-2" type="text"
           [(ngModel)]="sokeOrd"
           placeholder="Søk spørsmål... " aria-label="Search">
  </div>
</nav>


<div class="col-md-8 mt-5 col-md-offset-1 text-xl-center" *ngIf="visKundeService">


  <!--*ngIf="visKundeService"-->
  <div *ngIf="laster">Loading...</div>
  <!--*ngIf="visKatogori"-->
  <!--<div class="col-md-6 col-md-offset-1" *ngIf="visSkjema">
  <div *ngIf="laster">Laster alternativ.....</div>-->
  <div class="card-body">
    <div class="jumbotron">
      <h1 class="display-4 text-center">Har du noe spørsmål!</h1>
      <p class="lead text-center ">
        Velkommen til kundeservicen,
        her finner du svar på oftestiltes spørsmåler,
        og hvis du ikke finner det du leter etter, kan du også legge til alle spørsmåler du lurer på og vil bli besvart innen dager.
      </p>
      <hr class="my-4">
      <div class="row ">
        <div class="col-sm-6 text-center ">
          <div class="card ">
            <div class="card-body bg-secondary">
              <p class="card-text">Har du problemer med Registrering? </p>
              <button type="submit" *ngIf="skjemaStatus=='visRegistrering'" [disabled]="!skjema.valid" class="btn btn-primary">Registrer</button>
              <button class="btn btn-secondary text-center text-white" (click)="tilbakeTilRegistrering()"> <i class="fas fa-book-open"></i>   Les Oftestilte spørsmåler om Registrering </button>
            </div>
          </div>
        </div>
        <div class="col-sm-6 text-center ">
          <div class="card ">
            <div class="card-body bg-secondary">
              <p class="card-text">Har du problemer med Betaling</p>
              <button type="submit" *ngIf="skjemaStatus=='visBetalling'" [disabled]="!skjema.valid" class="btn btn-primary">Betaling</button>
              <button class="btn btn-secondary text-center text-white" (click)="goTilBetalling()"><i class="fas fa-book-open"></i>   Les Oftestilte spørsmåler om betaling</button>

            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-6 text-center ">
          <div class="card ">
            <div class="card-body bg-secondary">
              <p class="card-text">Alle sporsmåler fra kunder</p>
              <button type="submit" *ngIf="skjemaStatus=='visKundeQ'" [disabled]="!skjema.valid" class="btn btn-primary">Registrer</button>
              <button class="btn btn-secondary text-center text-white" (click)="visAlleKudeQ()"><i class="fas fa-book-open"></i>    Les andre spørsmåler fra kunde</button>

            </div>
          </div>
        </div>
        <div class="col-sm-6 text-center ">
          <div class="card ">
            <div class="card-body bg-secondary">
              <p class="card-text">Har du problemer med andre ting</p>
              <button type="submit" *ngIf="skjemaStatus=='stillspoarsmaal'" [disabled]="!skjema.valid" class="btn btn-primary"> har du forsett ikke fang svar</button>
              <button class="btn btn-secondary text-center text-white" (click)="LeggeSpoarsmaal()"><i class="fas fa-book-open"></i>    Trykke her</button>
            </div>
          </div>
        </div>
      </div>

      <!--Vis søkeresultat-->
      <div class="card text-center mt-3">
        <h3 class="text-primary">Disse er ofte stilte spørsmåler </h3>
        <div class="accordion" id="accordionExample">
          <div *ngFor="let faq of OfteStilteSpoersmaal | filter:sokeOrd" class="card">
            <div class="card-header text-danger" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link text-dark"
                        type="button" data-toggle="collapse"
                        [attr.data-target]="'#collapse'+faq.id" aria-expanded="true"
                        aria-controls="collapseOne">
                  <h4> <strong> {{faq.OfteStilteSpoersmaal}} </strong>  </h4>
                  <div class="card-body bg-light text-primary">
                    {{faq.spoersmaal}} <br />
                  </div>
                </button>
              </h5>
            </div>
            <div class="card-body">
              {{faq.svar}} <br />

              <h4>
                <span class="text-primary">var dette nyttig? </span> &emsp;
                {{faq.like}} <button class=" btn-primary text-white"
                                     (click)="vedLike(faq.id, faq)">
                  <i class="fas fa-thumbs-up"></i>
                </button> &emsp;
                {{faq.disLike}}  <button class="btn-danger text-white"
                                         (click)="vedDislike(faq.id, faq)">
                  <i class="fas fa-thumbs-down"></i>
                </button> &emsp;
              </h4>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







<div class="col-md-8 mt-5 col-md-offset-1 text-xl-center" *ngIf="visKundeQ">
  <h3 class="text-primary ">Disse er spørmåler fra kunde </h3>
  <div *ngFor="let faq of Sporsmaaler" class="card  text-dark">
   



    <div class="card-body text-left bg-secondary text-light"> <h4> Navn:         {{faq.kundeNavn}} </h4></div>
    <div class="card-body text-left bg-light text-secondary"> <h4> Email:         {{faq.email}} </h4></div>
    <div class="card-body text-left bg-light text-secondary"> <h4> Spørssmål:     {{faq.spoersmaal}}  </h4> </div>
    </div>


  <button type="submit" *ngIf="skjemaStatus=='visKundeService'" [disabled]="!skjema.valid" class="btn btn-primary">Problemer</button>
  <button class="btn btn-secondary text-white" (click)="ngOnInit()"><i class="fas fa-angle-double-left"></i>   Tilbake til KundeSevice</button>
</div>







<div class="card text-center my-5" *ngIf="visRegistrering">
  <h3 class="text-primary ">Desse er ofte stilte spørsmåler om Registrering </h3>
  <div class="accordion" id="accordionExample">
    <div *ngFor="let faq of SpoersmaalRegistrering"
         class="card">
      <div class="card-header text-danger" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link text-dark"
                  type="button" data-toggle="collapse"
                  [attr.data-target]="'#collapse'+faq.id" aria-expanded="true"
                  aria-controls="collapseOne">
            <h4> <strong> <i class="fas fa-caret-right"></i>{{faq.spoersmaal}} </strong>  </h4>
          </button>
        </h5>
      </div>
      <div id="collapse{{ faq.id}}" class="collapse show"
           aria-labelledby="headingOne"
           data-parent="#accordionExample">
        <div class="card-body">
          {{faq.svar}} <br />
          <h4>
            <span class="text-primary">var dette nyttig? </span> &emsp;
            {{faq.like}} <button class=" btn-primary text-white"
                                 (click)="vedLike(faq.id, faq)">
              <i class="fas fa-thumbs-up"></i>
            </button> &emsp;
            {{faq.disLike}}  <button class="btn-danger text-white"
                                     (click)="vedDislike(faq.id, faq)">
              <i class="fas fa-thumbs-down"></i>
            </button> &emsp;
          </h4>
        </div>
      </div>

    </div>
  </div>
  <button type="submit" *ngIf="skjemaStatus=='visKundeService'" [disabled]="!skjema.valid" class="btn btn-primary">Problemer</button>
  <button class="btn btn-secondary text-white" (click)="ngOnInit()"><i class="fas fa-angle-double-left"></i>   Tilbake til KundeSevice</button>
</div>




<div class="card text-center my-5 bg-secondary" *ngIf="stillspoarsmaal">
  <form [formGroup]="skjema">
    <input class="form-control" formControlName="id" type="hidden" />
    <div class="col-md-6 col-md-offset-1">
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <section id="contact" class="content-section text-center">
        <div class="contact-section">
          <div class="container">
            <h2>Contact Us</h2>
            <p>kan du også legge til alle spørsmåler du lurer på og vil bli besvart innen dager.</p>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="form-group" [formGroup]="skjema">
                  <label>KundeNavn</label>
                  <input class="form-control" formControlName="kundeNavn" />
                  <p class="alert alert-warning" [hidden]="skjema.controls.kundeNavn.valid || (skjema.controls.kundeNavn.pristine && !submitted)">
                    Navn er obligatorisk.
                  </p>
                </div>
                <div class="form-group" [formGroup]="skjema">
                  <label>Email</label>
                  <input class="form-control" formControlName="email" />
                  <p class="alert alert-warning" [hidden]="skjema.controls.email.valid || (skjema.controls.email.pristine && !submitted)">
                    Du må skirve Email?
                  </p>
                </div>
                <div class="form-group" [formGroup]="skjema">
                  <label>Spoersmaal</label>
                  <input class="form-control" formControlName="spoersmaal" />
                  <p class="alert alert-warning" [hidden]="skjema.controls.spoersmaal.valid || (skjema.controls.spoersmaal.pristine && !submitted)">
                    Skrive din spørsmål her
                  </p>
                </div>
                <button type="submit" *ngIf="skjemaStatus=='visKundeService'" [disabled]="!skjema.valid" class="btn btn-primary">Problemer</button>
                <button class="btn btn-default" (click)="lagreSpoarsmaal()">Sende</button><h3>Our Social Sites</h3>
                <ul class="list-inline banner-social-buttons">
                  <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a></li>
                  <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
                  <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-youtube-play"> <span class="network-name">Youtube</span></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </form>
  <button type="submit" *ngIf="skjemaStatus=='visKundeService'" [disabled]="!skjema.valid" class="btn btn-primary">Problemer</button>
  <button class="btn btn-secondary text-white" (click)="ngOnInit()"><i class="fas fa-angle-double-left"></i>   Tilbake til KundeSevice</button>
</div>





<div class="card text-center my-5" *ngIf="visBetalling">
  <h3 class="text-primary ">Desse er ofte stilte spørsmåler om betaling </h3>
  <div class="accordion" id="accordionExample">
    <div *ngFor="let faq of Spoersmaalbetaling"
         class="card">
      <div class="card-header text-danger" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link text-dark"
                  type="button" data-toggle="collapse"
                  [attr.data-target]="'#collapse'+faq.id" aria-expanded="true"
                  aria-controls="collapseOne">
            <h4> <strong> <i class="fas fa-caret-right"></i>{{faq.spoersmaal}} </strong>  </h4>
          </button>
        </h5>
      </div>
      <div id="collapse{{ faq.id}}" class="collapse show"
           aria-labelledby="headingOne"
           data-parent="#accordionExample">
        <div class="card-body">
          {{faq.svar}} <br />
          <h4>
            <span class="text-primary">var dette nyttig? </span> &emsp;
            {{faq.like}} <button class=" btn-primary text-white"
                                 (click)="vedLike(faq.id, faq)">
              <i class="fas fa-thumbs-up"></i>
            </button> &emsp;
            {{faq.disLike}}  <button class="btn-danger text-white"
                                     (click)="vedDislike(faq.id, faq)">
              <i class="fas fa-thumbs-down"></i>
            </button> &emsp;
          </h4>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" *ngIf="skjemaStatus=='visKundeService'" [disabled]="!skjema.valid" class="btn btn-primary">Problemer</button>
  <button class="btn btn-secondary text-white" (click)="ngOnInit()"><i class="fas fa-angle-double-left"></i>   Tilbake til KundeSevice</button>
</div>
